apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: bearcats-tailgate-com-tls
spec:
  secretName: bearcats-tailgate-com  
  issuerRef:  
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: bearcats-tailgate.com 
  dnsNames:
    - bearcats-tailgate.com
    - www.bearcats-tailgate.com